* {
	box-sizing: border-box;
}

:root {
	--primary-black: #17171d;
	--primary-yellow: #f4b400;
	--neutral-white: #fff;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--primary-black, #17171d);
	color: var(--neutral-white, #FFF);
	font-family: "Inter", sans-serif;
}

img {
	display: block;
	max-width: 100%;
}

button {
	cursor: pointer;
}

code {
	font-family: "Roboto Mono", monospace;
}

::selection {
	background: var(--primary-yellow, #f4b400);
	color: var(--primary-black, #17171d);
}

/*
color scheme: dark mode (#f4b400 + #17171d for hover/current section)
*/