* {
	box-sizing: border-box;
}

:root {
	--primary-black: #17171d;
	--primary-yellow: #f4b400;
	--neutral-white: #fff;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--primary-black, #17171d);
	color: var(--neutral-white, #FFF);
	font-family: "Inter", sans-serif;
}

img {
	display: block;
	max-width: 100%;
}

button {
	cursor: pointer;
}

code {
	/* add more styles! make it look good :) */
	font-family: "Roboto Mono", monospace;
}

a {
	color: var(--primary-yellow, #f4b400);
}

.code {
	/* make this look similar to code blocks! */
	font-family: "Roboto Mono", monospace;
}

.note {
	/* style somehow - maybe indent??? */
	font-family: "Inter", sans-serif; /* placeholder, remove once designed */
}

.main-section header {
	/* style headers like h1s! */
	font-family: "Inter", sans-serif; /* placeholder, remove once designed */
}

::selection {
	background: var(--primary-yellow, #f4b400);
	color: var(--primary-black, #17171d);
}

/*
color scheme: dark mode (#f4b400 + #17171d for hover/current section)
*/